@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --max-width: 1200px;
  --headerHeight: 90px;
}

* {

  margin: 0;
  padding: 0;

}

*,
::after,
::before {
  box-sizing: border-box
}



#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 1px rgba(227, 222, 193, 0.64);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #571cff;
    border-color: #073099;
  }

  #cursor.arrow::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-image: url('https://svgshare.com/i/MzQ.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }

  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: rgba(227, 222, 193, 0.08);
    border-color: transparent;
  }
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}


body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;

}

body {

  background-image: url(/BG/BG.jpg);
  background-size: cover;
  cursor: url(/Cursor/Cursor.svg), auto;

}


section {
  padding-inline: 20px;
}

section article {

  width: 100%;
  padding-block: 30px;
  margin-inline: auto;
}


header {
  width: 100%;
  padding: 20px;
  position: fixed;
  inset: 0;
  width: 100%;
  height: var(--headerHeight);
  z-index: 99999999999999999;
  transition: all .3s ease-in-out;

}



header article {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

header .header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

header .header-left img {
  width: 100%;
  max-width: 50px;
  animation: jumpLogo 2s ease-in-out infinite;

}

@keyframes jumpLogo {

  0%,
  100% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0);
  }

}


header .header-left .header-left-name {
  display: flex;
  align-items: center;
}

header .header-left .header-left-name a {

  display: flex;
  cursor: pointer;

}

header .header-left a p {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

header .header-left a b {
  background: linear-gradient(to right, #f47c43, #742b8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
}

header .header-right {
  display: none;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  padding-inline: 70px;
  border-radius: 30px;
  transition: all .3s ease-in-out;
}

header .header-right a {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

._scroll header {
  --headerHeight: 70px;
  background-color: rgba(87, 28, 255);
  padding-block: 10px;
}

._scroll header .header-right {
  background-color: transparent;
}


#dynamicWord {
  height: 50px;
  position: relative;
  display: inline-block;
}

.home {
  padding: 0;
  position: relative;
  padding-bottom: 0;
  min-height: caL(100vh - var(--headerHeight));
}



.home article {
  padding-inline: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50vh;
}



@media (min-height: 600px) {
  .home article {
    padding-top: 100px;
  }
}

.container {
  position: relative;
}

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
  z-index: -10;
}

.bubble:nth-child(2) {
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before,
.bubble::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::before {
  width: 30px;
  height: 30px;
  top: 50px;
  left: 45px;
}

.bubble::after {
  width: 20px;
  height: 20px;
  top: 80px;
  left: 80px;
}

.bubble span {
  position: absolute;
  border-radius: 50%;
  filter: blur(8px);
}

.bubble span:nth-child(1) {
  border-left: 15px solid #0fb4ff;
  inset: 10px;
}

.bubble span:nth-child(2) {
  border-right: 15px solid #ff4484;
  inset: 10px;
}

.bubble span:nth-child(3) {
  border-top: 15px solid #ffeb3b;
  inset: 10px;
}

.bubble span:nth-child(4) {
  border-left: 15px solid #ff4484;
  inset: 30px;
}

.bubble span:nth-child(5) {
  border-bottom: 10px solid #fff;
  inset: 10px;
  transform: rotate(330deg);
}

.home article {

  display: flex;
  flex-direction: column;

}

.home .home-text {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


}


.home article .home-text b {

  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

}


.home article .home-text p {

  z-index: 9;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: white;

}


.--button {

  margin-block: 40px;
  text-decoration: none;
  color: white;
  background-color: #571cff;
  width: 100%;
  max-width: 200px;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.1s var(--bezier);
}


.--button:hover {

  --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.1);

}

.--button:hover::before {

  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;

}

.--button:before {

  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);

}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.--button:active {

  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;

}


.home article .home-text .home-text-bottom {

  display: flex;
  gap: 8px;
  align-items: center;
  margin-block: -30px;


}

.home article .home-text .home-text-bottom img {

  width: 100%;
  max-width: 25px;


}

.home article .home-text .home-text-bottom span {

  font-family: Balsamiq Sans, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;

}

.home article .home-text .--svg {

  width: 100%;
  max-width: 30px;
  fill: white;

}

@keyframes colorChange {
  0% {
    fill: #571cff;
  }

  50% {
    fill: white;
  }

  100% {
    fill: #571cff;
  }
}

.--svg {
  width: 50px;
  height: 50px;
  animation: jump 1s infinite, colorChange 2s infinite;
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.team article {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

}

.team article span {


  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

}



.team .team-card {

  display: flex;
  gap: 40px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;



}

.team .team-card img {

  width: 100%;
  max-width: 250px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0 0;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

}

.team .team-card .another {

  transform-origin: left bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

}

.team .team-card .another:hover {
  rotate: -5deg;

}

.team .team-card img:hover {

  rotate: 5deg;


}

.video {
  padding-inline: 0;
}

.video article {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.video article span {

  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-inline: 20px;

}

.video article .video-slideShow {

  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  align-items: stretch;
  padding-block: 20px;

}

.video article .video-slideShow .video-slideShow-cover {

  gap: 20px;
  align-items: stretch;
  padding: 20px;

}

.video article .video-slideShow .video-slideShow-cover .video-slideShow-cover-item {

  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  gap: 20px;
  transition: all .3s;
  height: 100%;

}

.video article .video-slideShow .video-slideShow-cover .video-slideShow-cover-item:hover {

  box-shadow: 0px 0px 30px 1px rgb(110, 0, 133);
  border-radius: 20px;
  transform: scale(1.04) rotate(1deg);


}

.video article .video-slideShow .video-slideShow-cover .video-slideShow-cover-item .video-slideshow-cover-item-text {

  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;


}

.video article .video-slideShow .video-slideShow-cover .video-slideShow-cover-item p {

  font-size: 1.2rem;
  font-weight: bold;
  flex-wrap: wrap;
  line-height: 20px;
  margin: 0;

}

.video article .video-slideShow .video-slideShow-cover .video-slideShow-cover-item b {

  color: #616161;
  font-weight: 400;
  flex-wrap: wrap;
  margin-top: auto;


}


.video article .video-slideShow .video-slideShow-cover .video-slideShow-cover-item img {

  width: 100%;
  max-width: 400px;


}

video article .dots {

  display: flex;
}


.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.video-category article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.video-category article span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.video-category article .video-category-img {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.video-category article .video-category-img a {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.video-category article .video-category-img a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s, opacity 0.5s, filter 0.5s;
  /* Add transition */
}

.video-category article .video-category-img a .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
  /* Above the pseudo-elements */
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.5s, transform 0.5s;
  background: none;
  /* Remove gradient background */
}

.video-category article .video-category-img a:hover .content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.video-category article .video-category-img a .title {
  font-size: 1.5rem;
  padding: 10px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  /* Add text shadow */
}

.video-category article .video-category-img a:hover img {
  filter: blur(5px);
}

.video-category article .video-category-img a:nth-child(1) {
  grid-area: shadi;
}

.video-category article .video-category-img a:nth-child(2) {
  grid-area: ali;
}

.video-category article .video-category-img a:nth-child(3) {
  grid-area: old;
}


.contact article {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

.contact article .contact-all {

  display: flex;
  gap: 20px 100px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;


}

.contact article span {

  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

}

.contact article .contact-left {

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;

}

.contact article .contact-left .contact-left-field {

  display: flex;
  flex-direction: column;
  gap: 20px;



}

.contact article .contact-left .contact-left-field p {

  color: white;
  font-size: 1.3rem;
  font-weight: 600;



}

.contact article .contact-left .contact-left-field input {

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  color: white;
  font-size: 1.3rem;

}

#animatedText {

  font-size: 2.5rem;
  display: inline-block;
  margin-block-start: 40px;


}

.hidden {
  visibility: hidden;
}

.cursor {
  display: inline-block;
  width: 0.1rem;
  height: 1em;
  background-color: white;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contact article .contact-left .contact-left-send.--button {

  margin-block: 40px;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  color: white;
  background-color: #571cff;
  width: 100%;
  max-width: 200px;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;

}

.contact article .contact-right {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  padding-inline: 20px;
  border-radius: 10px;

}

.contact article .contact-right .contact-right-info {

  display: flex;
  flex-direction: column;
  gap: 30px;

}

.contact article .contact-right .contact-right-info span {

  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-align: start;

}

.contact article .contact-right .contact-info-row {

  display: flex;
  gap: 20px;

}

.contact article .contact-right .contact-info-row svg {

  width: 100%;
  max-width: 30px;
  fill: white;

}



.contact article .contact-right .contact-right-info p {

  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  text-align: start;

}

.contact article .contact-right .contact-info-row-naji {

  display: flex;
  flex-direction: column;
  gap: 10px;

}

.contact article .contact-right .contact-info-row-naji .contact-info-row-naji-call {

  display: flex;
  gap: 20px;

}

.contact article .contact-right .contact-info-row-naji .contact-info-row-naji-call svg {

  width: 100%;
  max-width: 30px;
  fill: white;

}

.contact article .contact-right .contact-info-row-naji .contact-info-row-naji-mail {

  display: flex;
  gap: 20px;

}

.contact article .contact-right .contact-info-row-naji .contact-info-row-naji-mail svg {

  width: 100%;
  max-width: 35px;
  fill: white;

}


footer {

  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;



}

footer a {

  color: white;
  text-decoration: none;
  text-align: center;
}

.team-page {

  padding-top: 30px;
  display: flex;
  width: 100%;

}

.team-page article {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-right: 40px;

}

.team-page .team-page-bg {

  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 15px;
  gap: 60px;

}

.team-page .team-page-bg .team-page-bg-person {

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 40px;

}

.team-page .team-page-bg .team-page-bg-person img {

  width: 100%;
  max-width: 300px;

}

.team-page .team-page-bg .team-page-bg-person .team-page-bg-person-text {

  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.team-page .team-page-bg .team-page-bg-person .team-page-bg-person-text .team-page-bg-person-text-title span {

  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;

}

.team-page .team-page-bg .team-page-bg-person .team-page-bg-person-text .team-page-bg-person-text-title p {

  font-size: 1.3rem;
  color: #ffffff80;

}

.team-page .team-page-bg .team-page-bg-person .team-page-bg-person-text b {

  color: #ffffff;
  max-width: 500px;
  font-weight: 400;

}

.team-page .team-page-bg .team-page-bg-person .team-page-bg-person-text .team-page-bg-person-text-info {

  margin-top: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;

}

.gd-page {

  padding-top: var(--headerHeight);
  display: flex;
  width: 100%;


}

.gd-page article {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.gd-page article .gd-page-search {

  display: flex;
  width: 80%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  padding-inline: 20px;
  border-radius: 40px;
  gap: 20px;


}

.gd-page article .gd-page-search svg {

  width: 100%;
  max-width: 20px;
  fill: rgba(255, 255, 255, 0.5);

}

.gd-page article .gd-page-search input {

  background: transparent;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}

.gd-page article .gd-page-body {

  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  padding-inline: 40px;
  border-radius: 10px;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;

}

.gd-page article .gd-page-body .gd-page-boy-first {

  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;

}



.gd-page article .gd-page-body .gd-page-body-title {


  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;

}

.gd-page article .gd-page-body .gd-page-body-title-icon {

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;

}

.gd-page article .gd-page-body .gd-page-body-title-icon img {

  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1/1;
  transition: 0.4s ease-in-out;

}

.gd-page article .gd-page-body .gd-page-body-title-icon img:hover {

  width: 70px;
 

}

.gd-page article .gd-page-body .gd-page-body-videos {

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  /* max-width: 280px; */

}

.gd-page article .gd-page-body .gd-page-body-videos span {

  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

}

.gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece {

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

}

.gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece .gd-page-body-videos-piece-card {

  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}

.gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece .gd-page-body-videos-piece-card:hover {

  transform: scale(1.03);


}

.gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece .gd-page-body-videos-piece-card img {

  width: 100%;
  max-width: 400px;

}

.gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece .gd-page-body-videos-piece-card b {

  font-size: 1.2rem;
  width: 100%;
  max-width: 300px;
  line-height: 20px;


}

.gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece .gd-page-body-videos-piece-card p {

  color: #616161;

}


.competition {

  padding-top: 30px;
  display: flex;
  width: 100%;

}


.competition article {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;

}

.competition article .title {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.competition article .title span {

  font-size: 1rem;
  color: white;
  font-weight: 600;
  text-align: center;

}

.competition article .title p {

  font-size: 1.5rem;
  background: linear-gradient(to right, #dfdfdf, #c677ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.competition article .competition-body {

  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}

.confetti {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  user-select: none;
  position: absolute;
  top: 85%;
  z-index: -1;
}

.competition article .competition-body .competition-body-card {

  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(266, 92%, 58%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  width: 19rem;
  background-color: hsla(240, 15%, 9%, 1);
  background-image: radial-gradient(at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
  transition: 0.4s ease-in-out;

}



.competition article .competition-body .competition-body-card .card__border {

  overflow: hidden;
  pointer-events: none;

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(0deg,
      hsl(0, 0%, 100%) -50%,
      hsl(0, 0%, 40%) 100%);

  border-radius: 1rem;
}

.competition article .competition-body .competition-body-card .card__border::before {

  content: "";
  pointer-events: none;
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), rotate(0deg);
  transform-origin: left;

  width: 200%;
  height: 10rem;
  background-image: linear-gradient(0deg,
      hsla(0, 0%, 100%, 0) 0%,
      hsl(277, 95%, 60%) 40%,
      hsl(277, 95%, 60%) 60%,
      hsla(0, 0%, 40%, 0) 100%);

  animation: rotate 8s linear infinite;

}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.competition article .competition-body .competition-body-card .position {

  width: 100%;
  max-width: 250px;
  text-align: center;
  position: absolute;
  top: -35%;
  left: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;

}




.competition article .competition-body .competition-body-card .competition-body-card-inside {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 100%;


}

.competition article .competition-body .competition-body-card .competition-body-card-inside img {

  width: 100%;
  max-width: 250px;

}




.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer {

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 100%;

}

.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer .competition-body-card-inside-footer-row {

  display: flex;
  gap: 40px;
}

.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer .competition-body-card-inside-footer-row p {

  color: rgba(227, 222, 193, 0.64);
  font-weight: 500;

}

.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer .competition-body-card-inside-footer-row b {

  color: rgba(227, 222, 193, 0.64);
  font-weight: 500;

}

.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer span {

  font-weight: 500;
  color: white;
  font-size: 1.5rem;

}

.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer a {

  color: white;
  padding: 10px;
  background-color: #742b8c;
  border-radius: 30px;
  width: 100%;
  align-items: center;
  text-align: center;
  transition: 0.4s ease-in-out;
  margin-top: auto;

}


.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer a:hover {


  --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.1);

}



.competition article .competition-body .competition-body-card .competition-body-card-inside .competition-body-card-inside-footer a:hover:before {

  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;

}

.--button:before {

  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);

}





@media only screen and (min-width: 1200px) {

  .competition article .title span {

    font-size: 2rem;
  }

  .competition article .title p {

    font-size: 4rem;
  }

  .video-category article .video-category-img a:hover .content {
    transform: translate(-50%, -50%) scale(1.5);
  }

  header .header-right {
    display: flex;
  }

  header article {


    justify-content: space-around;

  }

  header .header-left {
    width: fit-content;
  }

  section article {

    width: 100%;
    max-width: var(--max-width)
  }

  .home article {

    gap: 40px;
  }

  .home article .home-text b {

    font-size: 6rem;
  }

  .home article .home-text p {

    font-size: 4rem;
  }

  #animatedText {
    font-size: 4rem;
  }

  .team article span {


    font-size: 4rem;
  }

  .video article span {

    font-size: 4rem;
  }



  .video-category article span {
    font-size: 4rem;
  }

  .video-category article .video-category-img {
    display: grid;
    grid-template-areas: "shadi ali" "shadi old";
    grid-template-columns: 1.5fr 1fr;
  }

  .contact article span {

    font-size: 4rem;
  }

  .contact article .contact-all {


    flex-wrap: nowrap;


  }

  .contact article .contact-right .contact-right-info p {

    font-size: 1.3rem;
  }

  .team-page .team-page-bg .team-page-bg-person {

    display: flex;
    flex-direction: row;
  }

  .team-page article {


    margin-right: auto;
  }

  .team-page {

    padding-top: 100px;
  }

  .gd-page article .gd-page-body .gd-page-body-title {


    font-size: 1.5rem;
  }

  .gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .gd-page article .gd-page-body .gd-page-body-videos .gd-page-body-videos-piece .gd-page-body-videos-piece-card b {

    font-size: 1.5rem;
    line-height: 25px;

  }

  .gd-page article .gd-page-body .gd-page-body-videos {


    max-width: 1200px;
  }

  .gd-page article .gd-page-body {

    flex-wrap: nowrap;

  }

  .gd-page article .gd-page-search {


    margin-right: 0px;
    width: 100%;
    max-width: 1200px;

  }

  .gd-page article .gd-page-body .gd-page-body-title-icon img {
    width: 60px;
  }

}